<% provide(:title, "Staff") %>
<div class="container-fluid" id="main">
  <div class="row">

    <h1>Staff</h1>

    	<h3>Zvonimir Kolumbic - editor</h3>
<%= link_to "Edit Ideas", ideas_path, :type => "button", :class => "btn btn-xs" %> 
<%= link_to "Edit Project", projects_path, :type => "button", :class => "btn btn-xs" %> 
<%= link_to "Edit Members", members_path, :type => "button", :class => "btn btn-xs" %> 
<%= link_to "Edit Reports", reports_path, :type => "button", :class => "btn btn-xs" %> 
<%= link_to "Edit Events", events_path, :type => "button", :class => "btn btn-xs" %> 

<br><br>

<ol>
  <li><del>Include member</del></li>
  <li><del>Include posts</del></li>
</ol>

    	<h3>Zvonimir Kolumbic - admin</h3>
<ol>
  <li></li>
  <li><del>Add time of the event to the Event model</del></li>
  <li><del>Add author of the idea to the Idea model</del></li>
  <li><del>Ad action buttons for input data - Event, Idea, Post Member</del></li>
  <li><del>Add All in Main menu for Event, Idea, Post Member</del></li>
  <li><del>Rearange the Main page</del></li>
  <li>Fix up the Static pages: Main, About, Help, Sitemap, Staff, Links.</li>
</ol>

    	<h3>Zvonimir Kolumbic - CEO</h3>


<br>

  </div> <!-- row -->
</div> <!-- container-fluid main -->
