<%= form_with(model: project, local: true) do |f| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, id: :project_name %>
  </div>

  <div class="field">
    <%= f.label :started_at %>
    <%= f.date_select :started_at, id: :project_started_at %>
    <%= f.label :started_in %>
    <%= f.text_field :started_in, id: :project_started_in %>
  </div>

  <div class="field">
    <%= f.label :summary %><br />
    <%= f.text_area :summary, cols: "60", rows: "15", id: :project_summary %>
  </div>

  <div class="field">
    <%= f.label :phase %>
    <%= f.select :phase, (["Preparation", "Design", "Production", "Commissioning", 
      "Marketing", "Maintenance", "Reference"]), id: :project_phase  %>
    <%= f.label :kind %>
    <%= f.select :kind, (["Website", "Application", "Game", "Real World", "Combination"]), id: :project_phase  %>
    <%= f.label :category %>
    <%= f.select :category, (["Research", "Engineering", "Medicine", "Law", "Economy", 
      "Education", "Service", "Errand", "Entertainment"]), id: :project_phase %>
  </div>

  <div class="field">
    <%= f.label :ceo %>
    <%= f.text_field :ceo, id: :project_ceo %>
    <%= f.label :staff %>
    <%= f.number_field :staff, min: 1, max: 99, id: :project_staff %>
  </div>

  <div class="field">
    <%= f.label :investor %>
    <%= f.text_field :investor, id: :project_investor %>
    <%= f.label :budget %>
    <%= f.text_field :budget, id: :project_budget %>
  </div>

  <div class="field">
    <%= f.label :deadline %>
    <%= f.date_select :deadline, id: :project_deadline %>

  <div class="field">
    <%= f.label :annex_url %>
    <%= f.text_field :annex_url, id: :project_annex_url %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-defaut" %>
  </div>
<% end %>
