<%= form_with(model: member, local: true) do |f| %>
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, id: :member_first_name %>
    <%= f.label :second_name %>
    <%= f.text_field :second_name, id: :member_second_name %>
  </div>

  <div class="field">
    <%= f.label :image_url %>
    <%= f.text_field :image_url, id: :member_image_url %>
    <%= f.label :title %>
    <%= f.text_field :title, id: :member_title %>
  </div>

  <div class="field">
    <%= f.label :kind %>
    <%= f.select :kind, (["Entrepreneurs", "Inventors", "Investors", "Experts", "Legmens"]), id: :member_kind %>
    <%= f.label :category %>
    <%= f.select :category, (["Student", "Unemployed", "Employed", "Leisured", "Retired"]), id: :member_category %>  
  </div>

  <div class="field">
    <%= f.label :nick_name %>
    <%= f.text_field :nick_name, id: :member_nick_name %>
    <%= f.label :email %>
    <%= f.text_field :email, id: :member_email %>
    <%= f.label :skype_name %>
    <%= f.text_field :skype_name, id: :member_skype_name %>
  </div>

  <div class="field">
    <%= f.label :authorization_level %>
    <%= f.text_field :authorization_level, id: :member_authorization_level %>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location, id: :member_location %>
  </div>

  <div class="field">
    <%= f.label :joined %>
    <%= f.date_select :joined, id: :member_joined %>
  </div>

  <div class="field">
    <%= f.label :summary %><br>
    <%= f.text_area :summary, cols: "60", rows: "15", id: :member_summary %>
  </div>

  <div class="field">
    <%= f.label :details_url %>
    <%= f.text_field :details_url, id: :member_details_url %>
    <%= f.label :password %>
    <%= f.text_field :password_digest, id: :member_password_digest %>
    <%= f.label :visible %>
    <%= f.check_box :visible, id: :member_visible %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-defaut" %>
  </div>
<% end %>
