<% provide(:title, "Members List") %>
<div class="container-fluid" id="main">
<div class="row">
  <p id="notice"><%= notice %></p>
  
  <h1>Members</h1>

  <%= link_to 'New Member', new_member_path,  type: "button",
  class: "btn btn-xs", style: "margin: 0 0 10px 10px;" %>

  <div class="table-responsive">
    <table class="table table-bordered table-responsive">
      <thead>
        <tr>
      <th>No</th>
      <th>First name</th>
      <th>Second name</th>
      <th>Title</th>
      <th>Image url</th>
      <th>Kind</th>
      <th>Category</th>
      <th>Nick name</th>
      <th>Email</th>
      <th>Skype name</th>
      <th>Authorization level</th>
      <th>Location</th>
      <th>Joined</th>
      <th>Summary</th>
      <th>Details url</th>
      <th>Password digest</th>
      <th>Visible</th>
      <th>No</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.id %></td>
        <td><%= member.first_name %></td>
        <td><%= member.second_name %></td>
        <td><%= member.title %></td>
        <td><%= member.image_url %></td>
        <td><%= member.kind %></td>
        <td><%= member.category %></td>
        <td><%= member.nick_name %></td>
        <td><%= member.email %></td>
        <td><%= member.skype_name %></td>
        <td><%= member.authorization_level %></td>
        <td><%= member.location %></td>
        <td><%= member.joined %></td>
        <td><%= member.summary %></td>
        <td><%= member.details_url %></td>
        <td><%= member.password_digest %></td>
        <td><%= member.visible %></td>
        <td><%= member.id %></td>
        <td><%= link_to 'Show', member %></td>
        <td><%= link_to 'Edit', edit_member_path(member) %></td>
        <td><%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
    </table>
  </div> <!-- class="table-responsive" --> 

  <%= link_to 'New Member', new_member_path,  type: "button",
  class: "btn btn-xs", style: "margin: 0 0 20px 10px;" %>

</div>  <!-- row -->
</div> <!-- container-fluid -->
